<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/main.css">
    <title>TODO List</title>
</head>

<body>
    <div class="content">
        <h1 style="text-align: center">TODO List</h1>
        <!-- If there are no tasks i.e. length of tasks list less than 1 print message that there are no tasks -->
        {% if tasks|length < 1 %} <h4 style="text-align: center">There are no tasks. Create one below!</h4>
            {% else %}
            <table>
                <!-- Creating a table for the tasks -->
                <tr>
                    <th>Task</th>
                    <th>Actions</th>
                </tr>
                {% for task in tasks %}
                <tr>
                    <td id="task">
                        <form action="/done/{{task.id}}" method="POST">
                            {% if task.completed %}
                            <!-- If the task is completed check the checkbox -->
                            <input type="checkbox" onclick="this.form.submit()" checked>
                            {% else %}
                            <!-- If checkbox is clicked mark the task as done in database -->
                            <input type="checkbox" onclick="this.form.submit()">
                            {% endif %}
                            <label>{{ task.content }}</label>
                        </form>
                    </td>
                    <td>
                        <!-- Redirect to delete api if delete button is clicked -->
                        <a href="/delete/{{task.id}}"><button id="delete">Delete</button> </a>
                        <br>
                        <!-- Redirect to update api if update button is clicked -->
                        <a href="/update/{{task.id}}"><button id='update'>Update</button></a>
                    </td>
                </tr>
                {% endfor %}
            </table>
            {% endif %}

            <div class="form">
                <form action="/" method="POST">
                    <input type="text" name="content" id="content">
                    <input type="submit" value="Add Task">
                </form>
            </div>
    </div>
</body>

</html>